<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>PERFIL</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  
    <ion-avatar>
      <img class="circle" [src]="profileImage" >
    </ion-avatar>
  
    <ion-item>
       <ion-label floating>Nome </ion-label>
       <ion-input type="text" [(ngModel)]="usuario.nome"></ion-input> 
    </ion-item>

    <ion-item>
       <ion-label floating>E-Mail </ion-label>
       <ion-input type="text" [(ngModel)]="usuario.email"></ion-input>  
    </ion-item>

    <ion-item>
      <ion-label floating>Função </ion-label>
      <ion-select id="dpfuncao" [(ngModel)]="usuario.tipoFuncao" okText="Ok" cancelText="Cancelar">
        <ion-option *ngFor="let funcoes of listafuncoes; let i = index" selected="{{(i==usuario.tipoFuncao).toString()}}" value="{{funcoes.a}}">{{funcoes.descricao}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Tipo Metodologia </ion-label>
      <ion-select  [(ngModel)]="usuario.tipoMetodologia" okText="Ok" cancelText="Cancelar">
        <ion-option *ngFor="let metodologia of listaMetodologias; let i = index" selected="{{(i==usuario.tipoMetodologia).toString()}}"  value="{{metodologia.id}}">{{metodologia.descricao}}</ion-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label floating>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="usuario.senha"></ion-input>
    </ion-item>
    
    <button ion-button block (click)="Editar(usuario)">Editar</button>

    <ion-item>
        <h5>Caso deseje excluir a sua conta, clique abaixo: </h5>
        <a (click)="Excluir()">Excluir Conta</a>
    </ion-item>
</ion-content>